.sidebar-hzg {
  background: #e9dac6 !important; /* Crema más oscura */
  color: #fff !important;
  padding: 1rem 0rem 0rem 0rem; /* Espaciado interno mejorado */
  min-width: 270px; /* Ancho mínimo */
  width: fit-content; /* Ancho responsivo según contenido */
  max-width: 100vw; /* No excede el ancho de la ventana */
  box-sizing: border-box;
}
.sidebar-hzg .sidebar-divider {
  border-color: #ffd54f !important;
  opacity: 0.5;
  margin: 1.2rem 0;
}
.sidebar-hzg .sidebar-nav .sidebar-item i {
  color: #bfa100 !important; /* Amarillo oscuro */
}
.sidebar-hzg .brand-logo {
  border-bottom: 2px solid #ffd54f;
  padding-bottom: 16px;
  margin-bottom: 0rem;
}
.sidebar-hzg .sidebar-nav .sidebar-item {
  margin-bottom: 0.7rem;
}
.sidebar-hzg .sidebar-nav .sidebar-item a {
  border-radius: 6px;
  padding: 0.75rem 1.2rem;
  transition: background 0.2s, color 0.2s;
  margin-bottom: 0.2rem;
  display: block;
  white-space: nowrap; /* Evita que el texto se corte */
}
.sidebar-hzg .sidebar-nav .sidebar-item a:active {
  background: #ffd54f !important;
  margin-bottom: 0.2rem;
}
.sidebar-hzg .sidebar-nav .sidebar-item a {
  border-radius: 6px;
  padding: 0.55rem 1rem;
  transition: background 0.2s, color 0.2s;
}
.sidebar-hzg .sidebar-nav .sidebar-item a:active {
  background: #ffd54f !important;
}
